<header>
    <nav class="navbar navbar-expand-lg navbar-dark transparent py-1  fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
          <div class="media">
            <img class="align-self-center mr-md-3" src="assets/uploads/csi vector.png" height="50"  alt="mdb logo">
            <div class="media-body">
              <h4 class="mb-0 font-weight-bold text-white">CSI Student Branch</h4>
              <h6 class="orange-text">Maharaja Surajmal Institute</h6>            
            </div>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
          aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="navbar-nav mx-md-auto smooth-scroll">
            <li class="nav-item">
              <a class="nav-link orange-text text-uppercase font-weight-bold hvr-overline-from-center" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange-text text-uppercase font-weight-bold hvr-overline-from-center" routerLink="about" routerLinkActive="active" data-offset="100">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange-text text-uppercase font-weight-bold hvr-overline-from-center" routerLink="events" routerLinkActive="active" data-offset="100">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange-text text-uppercase font-weight-bold hvr-overline-from-center" routerLink="publish" routerLinkActive="active" data-offset="100">Publication</a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange-text text-uppercase font-weight-bold hvr-overline-from-center" routerLink="team" routerLinkActive="active" data-offset="100">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange-text text-uppercase font-weight-bold hvr-overline-from-center" routerLink="student" routerLinkActive="active" data-offset="100">Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange-text text-uppercase font-weight-bold hvr-overline-from-center" routerLink="contact" routerLinkActive="active" data-offset="100">Contact</a>
            </li>
          </ul>
          <!-- Social Icons -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/Maharaja-Surajmal-Institute-183580072182496/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/MSI_JanakPuri58" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/channel/UCaYJrUn8xvDBas1f30a83dQ?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>