
  <footer class="page-footer text-center text-md-left elegant-color-dark ">

    <!--Footer Links-->
    <div class="container-fluid">

      <!--First row-->
      <div class="row " data-wow-delay="0.2s">

        <!--First column-->
        <div class="col-md-12 text-center mb-3 mt-3">

          <!--Icon-->
          <i class="fas fa-graduation-cap fa-4x orange-text"></i>
          <!--Title-->
          <h2 class="mt-3 mb-3">Join Us</h2>
          <!--Description-->
          <p class="white-text mb-3 font-weight-bold">Join an excellent community of amazing and hardworking people!!</p>
          <!--Reservation button-->
          <!-- <a href="#!" class="btn btn-warning">Appliction</a> -->
          <a class="button" routerLink="student" routerLinkActive="active" class="btn btn-info" >Application</a>
	        <a class="button" routerLink="contact" routerLinkActive="active" class="btn btn-warning">Contact</a>
        </div>
        <!--First column-->

      </div>


    </div>
    <!--Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
        © Copyright 2020: <a href="https://www.msijanakpuri.com/" target="_blank">Maharaja Surajmal Institute</a>
      </div>
    </div>
    <!--Copyright-->

  </footer>