<main class="grey lighten-5">
  <div class="container mt-md-5 py-5 px-0">

    <!--Section: Content-->
    <section class="text-center px-md-5 pt-5 px-4 mx-md-5  z-depth-1 white">

      <h2 class="text-center h2 mb-0 ">Benefits and Advantages to CSI Student members</h2>
        <hr>
        <div class="row pt-5">
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="far fa-id-card indigo-text  pr-2"></i> Recognition
            </h4>
            
            <ul class="list-styled text-muted ">
              <li class="list-item">CSI membership identity card</li>
              <li class="list-item">Appreciation letter / certificate for performance excellence</li>
              <li class="list-item">Industry recognized CSI certification opportunities</li>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="fas fa-award amber-text pr-2"></i> Awards
            </h4>
            <ul class="list-styled text-muted ">
              <li class="list-item">Eligibility to be nominated for the best Student paper in CSI communications
              </li>
              <li class="list-item">Best Student Branch award (only  for Student Branch and not applicable for individual student members)
              </li>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="fas fa-question green-text pr-2"></i> Knowledge Enhancement
            </h4>
            <ul class="list-styled text-muted">
              <li class="list-item">Access to CSI knowledge portal through Login-id and password
              </li>
              <li class="list-item">Technology updates through Conferences, Seminars, Tutorials & workshop at discounted rates
              </li>
              <li class="list-item">A forum for activities like Paper Presentations, Quiz, Competitions and Exhibitions.
              </li>
              <li class="list-item">Ability to connect with distinguished speakers on different technology areas
              </li>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="fas fa-book-open red-text pr-2"></i> CSI Publication
            </h4>
            <ul class="list-styled text-muted ">
              <li class="list-item">CSI Communications – Monthly Magazine (soft copy with option for hard copy at additional payment)
              </li>
              <li class="list-item">CSI eNewsletter</li>
              <li class="list-item">CSI Whizkidd- Student Newsletter
              </li>
              <li class="list-item">Eligibility to publish articles in CSI communications, journal and Whizkidd
              </li>
            </ul>
          </div>
          
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="fas fa-home lime-text pr-2"></i> MOU benefits
            </h4>
            <ul class="list-styled text-muted ">
              <li class="list-item">Discounted membership fee for BCS, ACS and subsidized product offerings by them
              </li>
              <li class="list-item">Discounted CSI & partner certification exam fees
              </li>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="fas fa-users blue-text pr-2"></i> Networking
            </h4>
            <ul class="list-styled text-muted ">
              <li class="list-item">Interaction and collaboration with distinguished academicians, researchers and practitioners
              </li>
              <li class="list-item">Opportunity to interact with Industry professionals and chalk out a career path
              </li>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="fas fa-search orange-text pr-2"></i> Research & Development
            </h4>
            <ul class="list-styled text-muted ">
              <li class="list-item">CSI Minor Research project funding up to Rs. 50000/-
              </li>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <h4 class="font-weight-bold mb-3">
              <i class="fab fa-angellist pink-text pr-2"></i> CSI events
            </h4>
            <ul class="list-styled text-muted ">
              <li class="list-item">Discounted registration fee for CSI conventions & seminars
              </li>
              <li class="list-item">Participation in joint events of CSI with its MOU partner / Organization
              </li>
            </ul>
          </div>
        </div>
    </section>
    <!--Section: Content-->

    <section>
      <h2 class="text-center mt-5 mb-0 h2">Join Computer Society of India</h2>
      <hr>
      <!-- Section description -->
      <p class="text-center mb-5 w-responsive px-2 px-md-auto">
        The secret of getting ahead is getting started. The secret of getting started is breaking your complex overwhelming tasks into small manageable tasks, and then starting on the first one
      </p>
      <div class="row justify-content-center mx-0">
        <form class="white border col-11 col-lg-8">

          <!-- Grid row -->
          <div class="row justify-content-center">

            <!-- Grid column -->
            <div class="col-md-4">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control">
                <label for="contact-name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control">
                <label for="contact-email" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control">
                <label for="contact-Subject" class="">Subject</label>
              </div>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-4 justify-content-center">

            <!-- Grid column -->
            <div class="col-md-8">

              <div class="md-form mb-0">
                <textarea type="text" id="contact-message" class="md-textarea form-control" rows="3"></textarea>
                <label for="contact-message">Your message</label>
              </div>

            </div>
          </div>
          <!-- Grid row -->

          <div class="text-center text-md-center mb-4">
            <a class="btn btn btn-orange btn-rounded">Send</a>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>