<main class="grey lighten-5">
  <div class="container mt-5 pt-3 pb-5 ">

    <!--Section: Content-->
    <section class="px-md-5 pb-md-4 mx-md-5 text-center text-lg-left dark-grey-text z-depth-1 white">
  
      <!--Grid row-->
      <div class="row justify-content-center">
  
        <!--Grid column-->
        <div class="col-12 col-md-9 text-center mb-3">
          <h2 class="text-center h2 mt-3 mb-0 pt-4">Get in Touch</h2>
          <hr>
          <p class="text-muted px-1">Let us know your questions, suggestions and concerns by filling out the contact below.</p>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
      <!--Grid row-->
      <div class="row mx-1">
  
        <!--Grid column-->
        <div class="col-lg-5 col-md-12 mb-0 mb-md-0 order-2 order-md-1">
  
          <!--Google map-->
          <div id="map-container-google-1" class="z-depth-1 map-container mb-4">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.4634434247187!2d77.08744341440676!3d28.615869191587226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d04b216400001%3A0x99bedcb430c4c772!2sMaharaja%20Surajmal%20Institute!5e0!3m2!1sen!2sus!4v1605817502470!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen></iframe>
            
          </div>
          <!--Google Maps-->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-7 col-md-12 mb-4 mb-md-0 order-1 order-md-2">
  
          <!-- Material outline input -->
          <div class="md-form md-outline mt-3">
            <input type="email" id="form-email" class="form-control">
            <label for="form-email">E-mail</label>
          </div>
  
          <!-- Material outline input -->
          <div class="md-form md-outline">
            <input type="text" id="form-subject" class="form-control">
            <label for="form-subject">Subject</label>
          </div>
  
          <!--Material textarea-->
          <div class="md-form md-outline mb-3">
            <textarea id="form-message" class="md-textarea form-control" rows="3"></textarea>
            <label for="form-message">How we can help?</label>
          </div>
  
          <button type="submit" class="btn btn-orange btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  
    </section>
    <!--Section: Content-->
  
  
  </div>
  
  
  
</main>