<main class="grey lighten-5">
    <div class="container mt-md-5 py-md-5 px-0">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-12">
          <form class="white border card-body z-depth-1" (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
            <div class="md-form mb-2">
              <input type="text" class="form-control" name="username" ngModel #usernameInput="ngModel" required>
              <label for="username" class="">Username</label>
              </div>
                
              <div class="md-form mb-2">
                <input type="password" class="form-control" name="password" ngModel #passwordInput="ngModel" required>
                <label for="password" class="">Password</label>
              </div>
            
       
              <div class="row">
                <div class="col-6">
                  <div class="text-center text-md-center my-3">
                    <button type="submit" class="btn btn btn-orange btn-rounded" *ngIf="!isLoading">Sign Up</button>
                  </div>
                </div>
                <div class="col-6">
                  <div class="text-center text-md-center my-3">
                    <button class="btn btn btn-orange btn-rounded"  routerLink="/" >Cancel</button>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  