
<div class="modal-content">
  <div class="modal-header">
    <p class="heading lead">Add Event</p>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeCreateEventForm">
      <span aria-hidden="true" class="white-text">&times;</span>
    </button>
  </div>

  <form class="white border col-11 col-lg-12" [formGroup]='myForm' (ngSubmit)="onAddEvent()">
    <div class="modal-body p-0">
      <div class="card-body">

        <div class="row justify-content-center text-left">

          <div class="col-md-12">
            <div class="md-form mb-2">
              <input type="text" id="event-name" class="form-control" length="80" [formControl]="myForm.controls['title']" maxlength="80">
              <label for="event-name" class="">Event Name</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="md-form mb-2">
              <p class="mb-0">Start</p>
              <input type="datetime-local" id="sdate" class="form-control" [formControl]="myForm.controls['start']">
            </div>
          </div>

          <div class="col-md-6">
            <div class="md-form mb-2">
              <p class="mb-0">End</p>
              <input type="datetime-local" id="edate" class="form-control" [formControl]="myForm.controls['end']">
            </div>
          </div>

          <div class="col-md-3">
            <div class="md-form mb-2">
              <input type="number" id="rfee" class="form-control" [formControl]="myForm.controls['entryFees']">
              <label for="rfee" class="">Registration Fee</label>
            </div>
          </div>

          <div class="col-md-9">
            <div class="md-form mb-2">
              <input type="text" id="rlink" class="form-control" [formControl]="myForm.controls['registrationLink']">
              <label for="rlink" class="">Registration Link</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="md-form mb-2">
              <input type="text" id="pltfm" class="form-control" [formControl]="myForm.controls['venue']">
              <label for="pltfm" class="">Venue/Platform</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="md-form mb-2">
              <input type="number" id="wprize" class="form-control" [formControl]="myForm.controls['prize1']">
              <label for="wprize" class="">Winner Prize</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="md-form mb-2">
              <input type="number" id="fprize" class="form-control" [formControl]="myForm.controls['prize2']">
              <label for="fprize" class="">1st Runner-Up Prize</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="md-form mb-2">
              <input type="number" id="sprize" class="form-control" [formControl]="myForm.controls['prize3']">
              <label for="sprize" class="">2nd Runner-Up Prize</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-outline my-2">
              <textarea class="form-control" id="descptn" rows="4" placeholder="Description"
                [formControl]="myForm.controls['description']"></textarea>
            </div>
          </div>

          <div class="col-md-4">
            <div class="md-form mb-0">
              <input type="text" id="conname1" class="form-control" [formControl]="myForm.controls['personOne']">
              <label for="conname1" class="">Contact Person 1 Name</label>
            </div>
          </div>

          <div class="col-md-5">
            <div class="md-form mb-0">
              <input type="email" id="conemail1" class="form-control mb-0" [formControl]="myForm.controls['personOneEmail']">
              <label for="conemail1" class="">Your email</label>
              <small *ngIf="myForm.controls['personOneEmail'].invalid && myForm.controls['personOneEmail'].touched" class="text-danger my-0">Invalid Email</small>
            </div>
          </div>

          <div class="col-md-3">
            <div class="md-form mb-0">
              <input type="tel" id="conph1" class="form-control mb-0" [formControl]="myForm.controls['personOneContact']">
              <label for="conph1" class="">Phone</label>
              <small *ngIf="myForm.controls['personOneContact'].invalid && myForm.controls['personOneContact'].touched" class="text-danger my-0">Invalid Contact Number</small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="md-form mb-0">
              <input type="text" id="conname2" class="form-control" [formControl]="myForm.controls['personTwo']">
              <label for="conname2" class="">Contact Person 2 Name</label>
            </div>
          </div>

          <div class="col-md-5">
            <div class="md-form mb-0">
              <input type="email" id="conemail2" class="form-control mb-0" [formControl]="myForm.controls['personTwoEmail']">
              <label for="conemail2" class="">Your email</label>
              <small *ngIf="myForm.controls['personTwoEmail'].invalid && myForm.controls['personTwoEmail'].touched" class="text-danger my-0">Invalid Email</small>
            </div>
          </div>

          <div class="col-md-3">
            <div class="md-form mb-0">
              <input type="tel" id="conph2" class="form-control mb-0" [formControl]="myForm.controls['personTwoContact']">
              <label for="conph2" class="">Phone</label>
              <small *ngIf="myForm.controls['personTwoContact'].invalid && myForm.controls['personTwoContact'].touched" class="text-danger my-0">Invalid Contact Number</small>
            </div>
          </div>

          <div class="col-md-12">
            <p class="text-left mb-1 mt-2">Event Tile Image | <small>Resolution: 1:1</small></p>
            
            <input type="file" class="form-control" (change)="onTilePicked($event)"/>
            <div class="row">
              <div class="col-3">            
                <img [src]="eventTilePreview" [alt]="myForm.value.title" class="img-thumbnail"/>
              </div>
            </div>
            <p class="text-left my-1 mt-2">Event Banner (large screen) | <small>Resolution: 16:9</small></p>
            
            <input type="file" class="form-control" (change)="onBannerPicked($event)" />
            <div class="row">
              <div class="col-3">            
                <img [src]="eventBannerPreview" [alt]="myForm.value.title" class="img-thumbnail"/>
              </div>
            </div>
            <p class="text-left my-1 mt-2">Event Banner (small screen) | <small>Resolution: 9:8</small></p>
            
            <input type="file" class="form-control" (change)="onPhoneBannerPicked($event)" />
            <div class="row">
              <div class="col-3">            
                <img [src]="eventPhoneBannerPreview" [alt]="myForm.value.title" class="img-thumbnail"/>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center text-md-center mb-4">
          <button type="submit" class="btn btn btn-orange btn-rounded" [disabled]="!myForm.valid">Save</button>
        </div>
      </div>
    </div>
  </form>

</div>