<main>
  <div class="mt-5 pt-5 peach-gradient" style="background-color: rgb(255 145 0 / .8)">
    <div class="view">
      <picture class="imagepos">
        <source media="(min-width: 768px)" srcset="assets/uploads/convention/website-wall.png">
        <source media="(max-width: 524px)" srcset="assets/uploads/convention/website-wall-phone.png">
        <img class="img-fluid" src="assets/uploads/convention/website-wall.png" alt="">
      </picture>      
      <div class="mask flex-center ">
      </div>
    </div>
  </div>

  <section>

    <div class="container">

      <!-- Section heading -->
      <h2 class="text-center h2 mt-5 mb-0 pt-4">Events</h2>

      <hr>
      <!-- Section description -->
      <p class="text-center dark-grey-text w-responsive mx-auto mb-5">You may take part in the following activities.</p>

      <!-- Grid row -->

      <div class="modal fade" id="pptmodal" tabindex="-1" role="dialog" aria-labelledby="pptmodal" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">Project Presentation Contest</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <div class="modal-body p-0">

              <div class="row">
                <div class="col-12 col-md-12">
                  <img src="assets/uploads/convention/ppt-bnr.jpeg" alt="" class="img-fluid ">
                </div>
                <div class="col-12 col-md-12">
                  <div class="card-body">
                    <p><strong>Project Presentation Contest in association with CSI Delhi Chapter</strong></p>
                    <p>It’s the power of great and innovative projects that has changed the course of history in the past and will continue to change the course of the future too. Legends from past and recent age knew this power and have described it in their own words. </p>
                    <p>We would like to invite students of UG/PG to make use of this opportunity. This contest will provide an excellent opportunity for the students to explore, enhance and exhibit their talent.</p>

                    <div class="row">
                      <div class="col-12 col-md-12">
                        <h5 class="text-left orange-text"><strong>Eligibility</strong> </h5>
                        <ul class="text-left">
                          <li>Team size should be of 2-5 members.</li>
                          <li>Project should be based from the technical field.</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Participation</strong> </h5>
                        <ul class="text-left">
                          <li>Participation Fees:
                            <ul class="list-unstyled">
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹100 per member (For CSI Members)</li>
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹200 per member (For Non-CSI Members)</li>
                            </ul>
                          </li>
                          <li>Pay Participation fees to this UPI:  9999798191@paytm
                          </li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Prize</strong> </h5>
                        <ul class="text-left">
                          <li>Winner : ₹5000</li>
                          <li>1st Runner-up: ₹3000
                          </li>
                          <li>2nd Runner up: ₹2000</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Guidelines</strong> </h5>
                        <ul class="text-left">
                          <li>Abstract submission should be done before deadline.</li>
                          <li>Decision of the judges will be final and has to be respected.</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Contact</strong> </h5>
                        <p>For any queries, please contact:</p>
                        <ul class="text-left">
                          <li>
                            Himanshu Mahanta
                            <p class="mb-0"><a href="tel:+917289032920"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-7289032920</a></p>
                            <p><a href="mailto:himanshu03214902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>himanshu03214902018@msi-ggsip.org</a></p> 
                          </li>
                          <li>
                            Jatin Mahale
                            <p class="mb-0"><a href="tel:+919999798191"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-9999798191</a></p>
                            <p><a href="mailto:jatin40414902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>jatin40414902018@msi-ggsip.org</a></p> 
                          </li>
                        </ul>                 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a href="https://dare2compete.com/o/FRr273p" target="_blank" class="btn btn-warning">Register Here</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

      <div class="modal fade" id="webmodal" tabindex="-1" role="dialog" aria-labelledby="webmodal" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">Web Dev</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <div class="modal-body p-0">

              <div class="row">
                <div class="col-12 col-md-12">
                  <img src="assets/uploads/convention/web-bnr.jpeg" alt="" class="img-fluid ">
                </div>
                <div class="col-12 col-md-12">
                  <div class="card-body">
                    <p>Web Development competition is being organized with aim to test the skills and love to develop a great website for the users.</p>
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <h5 class="text-left orange-text"><strong>Eligibility</strong> </h5>
                        <ul class="text-left">
                          <li>You can take part, if you can develop a website.</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Participation</strong> </h5>
                        <ul class="text-left">
                          <li>Team of 2 and lone wolves are welcomed.</li>
                          <li>Participation Fees:
                            <ul class="list-unstyled">
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹50 per member (For CSI Members)</li>
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹100 per member (For Non-CSI Members)</li>
                            </ul>
                          </li>
                          <li>Pay Participation fees to this UPI: harshilsinghverma11@oksbi</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Prize</strong> </h5>
                        <ul class="text-left">
                          <li>Winner : ₹3000</li>
                          <li>1st Runner Up : ₹2000
                          </li>
                          <li>2nd Runner up: ₹1500</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Guidelines</strong> </h5>
                        <ul class="text-left">
                          <li>You should develop a responsive website.</li>
                          <li>You cannot use any additional library/frameworks/packages. No use of Bootstrap or any other framework is allowed.
                          </li>
                          <li>Decision of the organisers will be final and has to be respected.</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Contact</strong> </h5>
                        <p>For any queries, please contact:</p>
                        <ul class="text-left">
                          <li>
                            Drishti Gupta
                            <p class="mb-0"><a href="tel:+919711611816"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-9711611816</a></p>
                            <p><a href="mailto:drishti02614902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>drishti02614902018@msi-ggsip.org</a></p> 
                          </li>
                          <li>
                            Harshil Singh
                            <p class="mb-0"><a href="tel:+919999798191"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-8295195750</a></p>
                            <p><a href="mailto:harshil02914902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>harshil02914902018@msi-ggsip.org</a></p> 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a href="https://dare2compete.com/o/8CfKHow" target="_blank" class="btn btn-warning">Register Here</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

      <div class="modal fade" id="codemodal" tabindex="-1" role="dialog" aria-labelledby="codemodal" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">Ninja Wave
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <div class="modal-body p-0">

              <div class="row">
                <div class="col-12 col-md-12">
                  <img src="assets/uploads/convention/code-bnr.jpg" alt="" class="img-fluid ">
                </div>
                <div class="col-12 col-md-12">
                  <div class="card-body">
                    <p>NinjaWave is a coding competition sponsored by <a href="https://www.codingninjas.com/" target="_blank">Coding Ninjas</a>  with aim to test the skills and love to code of participating teams and find out the ultimate Coder.</p>
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <h5 class="text-left orange-text"><strong>Eligibility</strong> </h5>
                        <ul class="text-left">
                          <li>Anyone with a zeal to code.</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Participation</strong> </h5>
                        <ul class="text-left">
                          <li>Only lone wolves are welcomed.</li>
                          <li>Participation Fees:
                            <ul class="list-unstyled">
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹50 per member (For CSI Members)</li>
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹100 per member (For Non-CSI Members)</li>
                            </ul>
                          </li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Prize</strong> </h5>
                        <ul class="text-left">
                          <li>Winner : ₹3000</li>
                          <li>1st Runner Up : ₹2000
                          </li>
                          <li>2nd Runner up: ₹1500</li>
                        </ul>


                        <h5 class="text-left orange-text"><strong>Guidelines</strong> </h5>
                        <ul class="text-left">
                          <li>Languages allowed: C, C++, Java, Python.</li>
                          <li>Decision of the organisers will be final and has to be respected.</li>
                          <li>Event will be held on Coding Ninjas.</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Contact</strong> </h5>
                        <p>For any queries, please contact:</p>
                        <ul class="text-left">
                          <li>
                            Dhruv Rawat
                            <p class="mb-0"><a href="tel:+919990057888"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-9990057888</a></p>
                            <p><a href="mailto:drishti02614902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>drishti02614902018@msi-ggsip.org</a></p> 
                          </li>
                          <li>
                            Jainender Baswal
                            <p class="mb-0"><a href="tel:+917065222132"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-7065222132</a></p>
                            <p><a href="mailto:jainender03714902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>jainender03714902018@msi-ggsip.org</a></p> 
                          </li>
                          <li>
                            Ishaan Grover
                            <p class="mb-0"><a href="tel:+918929991914"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-8929991914</a></p>
                            <p><a href="mailto:ishaan03414902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>ishaan03414902018@msi-ggsip.org</a></p> 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a href="https://dare2compete.com/o/PFsCvaS" target="_blank" class="btn btn-warning">Register Here</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

      <div class="modal fade" id="quizmodal" tabindex="-1" role="dialog" aria-labelledby="quizmodal" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">IT Quiz
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <div class="modal-body p-0">

              <div class="row">
                <div class="col-12 col-md-12">
                  <img src="assets/uploads/convention/quiz-bnr.jpeg" alt="" class="img-fluid ">
                </div>
                <div class="col-12 col-md-12">
                  <div class="card-body">
                    <p>A blithesome challenge for all the IT Quizzing enthusiast to prove their dunkirk spirit.</p>
                    <div class="row">
                      <div class="col-12 col-md-8">
                        <h5 class="text-left orange-text"><strong>Eligibility</strong> </h5>
                        <ul class="text-left">
                          <li>All</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Participation</strong> </h5>
                        <ul class="text-left">
                          <li>Only lone wolves are welcomed.</li>
                          <li>Participation Fees:
                            <ul class="list-unstyled">
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹50 per member (For CSI Members)</li>
                              <li><i class="fas fa-angle-right orange-text mr-2"></i>₹100 per member (For Non-CSI Members)</li>
                            </ul>
                          </li>
                          <li>Pay Participation fees to this UPI: asliarchit@icici
                          </li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Prize</strong> </h5>
                        <ul class="text-left">
                          <li>Winner : ₹3000</li>
                          <li>1st Runner Up : ₹2000
                          </li>
                          <li>2nd Runner up: ₹1500</li>
                        </ul>


                        <h5 class="text-left orange-text"><strong>Guidelines</strong> </h5>
                        <ul class="text-left">
                          <li>Questions will be based from Cyber Security, Networking, Operating System, Linux, Information Technology, Basic Computers.</li>
                          <li>There will be negative marking of 1/3 marks pe wrong answer in every round.</li>
                          <li>Decision of the organisers will be final and has to be respected.</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Contact</strong> </h5>
                        <p>For any queries, please contact:</p>
                        <ul class="text-left">
                          <li>
                            Archit Kumar Singh
                            <p class="mb-0"><a href="tel:+917017308569"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-7017308569</a></p>
                            <p><a href="mailto:archit01314902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>archit01314902018@msi-ggsip.org</a></p> 
                          </li>
                          <li>
                            Dhruv Sahani
                            <p class="mb-0"><a href="tel:+918750943886"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-8750943886</a></p>
                            <p><a href="mailto:dhruv02514902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>dhruv02514902018@msi-ggsip.org</a></p> 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a href="https://dare2compete.com/o/jEnKbRu" target="_blank" class="btn btn-warning">Register Here</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

      <div class="modal fade" id="workmodal" tabindex="-1" role="dialog" aria-labelledby="workmodal" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">Android Development
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <div class="modal-body p-0">

              <div class="row">
                <div class="col-12 col-md-12">
                  <img src="assets/uploads/convention/workshop-bnr.jpeg" alt="" class="img-fluid ">
                </div>
                <div class="col-12 col-md-12">
                  <div class="card-body">
                    <p>Learn how to use checkboxes, radio buttons, radio groups in an android app and how data is transferred from one screen to another.</p>
                    <div class="row">
                      <div class="col-12 col-md-8">
                        <h5 class="text-left orange-text"><strong>Guest Speaker</strong> </h5>
                        <ul class="text-left">
                          <li>B. M. Harwani <br>
                            <small>Author, Teacher and Speaker
                            </small>
                          </li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Registration fee</strong></h5>
                        <ul class="text-left">
                          <li>Free of cost</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Date & Time</strong></h5>
                        <ul class="text-left">
                          <li>Dec 7, 2020</li>
                          <li>2pm - 4pm (2 hours)</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Platform</strong></h5>
                        <ul class="text-left">
                          <li>Mircosoft Teams</li>
                        </ul>

                        <h5 class="text-left orange-text"><strong>Contact</strong> </h5>
                        <p>For any queries, please contact:</p>
                        <ul class="text-left">
                          <li>
                            Ankit Jee
                            <p class="mb-0"><a href="tel:+918445276225"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-8445276225</a></p>
                            <p><a href="mailto:ankit01214902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>ankit01214902018@msi-ggsip.org</a></p> 
                          </li>
                          <li>
                            Lakshmi Maurya
                            <p class="mb-0"><a href="tel:+9717720739"><i class="fas fa-phone fa-rotate-90 mr-2"></i> +91-9717720739</a></p>
                            <p><a href="mailto:lakshmi04514902018@msi-ggsip.org"><i class="fas fa-envelope mr-2"></i>lakshmi04514902018@msi-ggsip.org</a></p> 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--/.Content-->
        </div>
      </div>

      <div class="row text-center justify-content-center mb-2">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <a data-toggle="modal" data-target="#pptmodal">
            <div class="view overlay z-depth-1 mb-2">
              <img src="assets/uploads/convention/ppt.png" class="img-fluid"
                alt="First sample image">
              <a>
                <div class="mask rgba-orange-slight"></div>
              </a>
            </div>
  
            <h4 class="mb-2 mt-4 font-weight-bold orange-text">Project Presentation</h4>
  
            <div class="row justify-content-center text-center">
              <div class="col-12 col-lg-12 col-md-12  ">
                <p class="grey-text">
                  <i class="fas fa-clock-o"></i> Dec 7, 2020</p>
              </div>
            </div>
            <a class="text-uppercase font-small font-weight-bold spacing" >Read more</a>          
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <a data-toggle="modal" data-target="#webmodal">
            <div class="view overlay z-depth-1 mb-2">
              <img src="assets/uploads/convention/web.png" class="img-fluid"
                alt="First sample image">
              <a>
                <div class="mask rgba-orange-slight"></div>
              </a>
            </div>

            <h4 class="mb-2 mt-4 font-weight-bold orange-text">Web Development</h4>

            <div class="row justify-content-center text-center">
              <div class="col-12 col-lg-12 col-md-12  ">
                <p class="grey-text">
                  <i class="far fa-clock-o"></i> Dec 7, 2020</p>
              </div>
            </div>
            <a class="text-uppercase font-small font-weight-bold spacing">Read more</a>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <a data-toggle="modal" data-target="#codemodal">
            <div class="view overlay z-depth-1 mb-2">
              <img src="assets/uploads/convention/code.png" class="img-fluid"
                alt="First sample image">
              <a>
                <div class="mask rgba-orange-slight"></div>
              </a>
            </div>

            <h4 class="mb-2 mt-4 font-weight-bold orange-text">Ninja Wave</h4>

            <div class="row justify-content-center text-center">
              <div class="col-12 col-lg-12 col-md-12  ">
                <p class="grey-text">
                  <i class="far fa-clock-o"></i> Dec 7, 2020</p>
              </div>
            </div>
            <a class="text-uppercase font-small font-weight-bold spacing" >Read more</a>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <a data-toggle="modal" data-target="#quizmodal">
            <div class="view overlay z-depth-1 mb-2">
              <img src="assets/uploads/convention/Quiz.png" class="img-fluid"
                alt="First sample image">
              <a>
                <div class="mask rgba-orange-slight"></div>
              </a>
            </div>

            <h4 class="mb-2 mt-4 font-weight-bold orange-text">IT Quiz</h4>

            <div class="row justify-content-center text-center">
              <div class="col-12 col-lg-12 col-md-12  ">
                <p class="grey-text">
                  <i class="far fa-clock-o"></i> Dec 7, 2020</p>
              </div>
            </div>
            <a class="text-uppercase font-small font-weight-bold spacing" >Read more</a>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <a data-toggle="modal" data-target="#workmodal">
            <div class="view overlay z-depth-1 mb-2 white">
              <img src="assets/uploads/convention/anroid.jpg" class="img-fluid"
                alt="First sample image">
              <a>
                <div class="mask rgba-orange-slight"></div>
              </a>
            </div>

            <h4 class="mb-2 mt-4 font-weight-bold orange-text">Android Development</h4>

            <div class="row justify-content-center text-center">
              <div class="col-12 col-lg-12 col-md-12  ">
                <p class="grey-text">
                  <i class="far fa-clock-o"></i> Dec 7, 2020</p>
              </div>
            </div>
            <a class="text-uppercase font-small font-weight-bold spacing" >Read more</a>
          </a>
        </div>

      </div>

      <h2 class="text-center h2 mt-5 mb-0 pt-4">Management Committee</h2>
      <hr style="width: 20% !important;">
      <div class="row justify-content-center text-center mt-5">
        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/Kaptan-Singh.jpg" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Sh. Kaptan Singh</h6>
          <p class="orange-text">
            <strong>President, SMES</strong>
          </p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/Ajit-Singh.jpg" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Sh. Ajit Singh Chaudhary</h6>
          <p class="orange-text">
            <strong>Secretary, SMES</strong>
          </p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/Rajpal-Singh-Solanki.jpg" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Sh. Raj Pal Singh Solanki</h6>
          <p class="orange-text">
            <strong>Treasurer, SMES</strong>
          </p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/Rachita.Rana.jpg" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Dr. Rachita Rana</h6>
          <p class="orange-text">
            <strong>Director, MSI</strong>
          </p>
        </div>
      </div>

      <h2 class="text-center h2 mt-5 mb-0 pt-4">Advisory Committee</h2>
      <hr style="width: 13% !important;">

      <div class="row justify-content-center text-center mt-5">
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/RK.Vyas.png" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Prof R K Vyas</h6>
          <p class="orange-text">
            <strong>President CSI</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/A.K.Saini.png" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Dr Anil Kumar Saini</h6>
          <p class="orange-text">
            <strong> Vice President & Chairman Conference Committee, CSI</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/Vipin.Tyagi.png" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Dr Vipin Tyagi</h6>
          <p class="orange-text">
            <strong>Hon Secretary, CSI</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <img src="assets/uploads/convention/durgesh.mishra.jpg" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Dr Durgesh Kumar Mishra,</h6>
          <p class="orange-text">
            <strong>Hon Treasurer, CSI</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/A.K.Nayak.png" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Prof A K Nayak</h6>
          <p class="orange-text">
            <strong>Immediate Past President, CSI</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-6">
              <img src="assets/uploads/convention/Arvind.Sharma.png" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Mr Arvind Sharma</h6>
          <p class="orange-text">
            <strong>Regional Vice President, Region-I</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <img src="assets/uploads/team/Male-Avatar.png" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Dr P Kumar</h6>
          <p class="orange-text">
            <strong>National Student Coordinator, CSI</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <img src="assets/uploads/convention/sunil-pratap.jpeg" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Dr Sunil Pratap Singh</h6>
          <p class="orange-text">
            <strong>Regional Student Coordinator, Region-I, CSI</strong>
          </p>
        </div>
      </div>

      <h2 class="text-center h2 mt-5 mb-0 pt-4">Organizing Committee</h2>
      <hr style="width: 15% !important;">

      <div class="row justify-content-center text-center mt-5">
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <img src="assets/uploads/team/rhythm.jpg" class="img-fluid  rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Rhythm Choudhary</h6>
          <p class="orange-text">
            <strong>Organising Chair</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <img src="assets/uploads/team/manoj.jpg" class="img-fluid rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Manoj Kumar</h6>
          <p class="orange-text">
            <strong>Program Chair</strong>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row justify-content-center">
            <div class="col-5">
              <img src="assets/uploads/team/kanika.jpg" class="img-fluid rounded-circle z-depth-1"/>
            </div>
          </div>
          <h6 class="font-weight-bold pt-2">Kanika Kundu</h6>
          <p class="orange-text">
            <strong>Event Chair</strong>
          </p>
        </div>
      </div>


    </div>

  </section>
  

</main>