<main class="grey lighten-5">
  <a routerLink="convention" routerLinkActive="active">
    <div id="home" class="black">
      <picture class="imagepos">
        <source media="(max-width: 768px)" srcset="assets/uploads/website-wall-tab.jpg">
        <source media="(max-width: 524px)" srcset="assets/uploads/website-wall-phone.jpg">
        <img class="img-fluid mt-5" src="assets/uploads/Website-wall.jpg" alt="">
      </picture>
    </div>
  </a>

  <div class="container mt-5">

    <!--Section: About-->
    <section id="about">

      <!--First row-->
      <div class="row mt-5">

        <!--First column-->
        <div class="col-lg-5   col-md-5 mb-5 pb-4 wow fadeIn" data-wow-delay="0.4s">

          <!--Image-->
          <img src="assets/uploads/homeabout.jpg"
            class="img-fluid z-depth-1 rounded" alt="My photo">

        </div>
        <!--First column-->

        <!--Second column-->
        <div class="col-lg-6 offset-lg-1  dark-grey-text  col-md-7 wow fadeIn" data-wow-delay="0.4s">

          <!--Description-->
          <p class="text-justify">
            <b>Computer Society of India</b> encourages and assists professionals to maintain integrity and competence of the profession and fosters a sense of partnership amongst members. Besides the activities held at the Chapters and Student Branches, the Society also conducts periodic conferences, seminars. At present it has 72 chapters across India, 512 student branches, and more than 100,000 members. CSI was established on 06th March, 1965 by a few computer professionals and has now grown to be the national body representing computer professionals.
          </p>
          <p class="text-justify">
            Student Branch at Maharaja Surajmal Institute was established in November, 2013 with the objective of offering a range of services and networking opportunities through workshops, seminars, conventions and many other things. 
          </p>

        </div>
        <!--Second column-->

      </div>
      <!--First row-->

    </section>
    <!--Section: About-->


    <!--Projects section v.3-->
    <section id="info" class="mt-4 mb-5 pb-4">

      <!--Section heading-->
      <h2 class="text-center h2 mt-5 mb-0 pt-4">Benefits to Join CSI </h2>
      <hr>
      <!--Section description-->
      <!--p class="text-center w-responsive mx-auto my-5 grey-text wow fadeIn" data-wow-delay="0.2s">
        Offering a range of services and networking opportunities through workshops, seminars, conventions and courses.
      </p-->

      <!--First row-->
      <div class="row wow fadeIn mt-5" data-wow-delay="0.4s">

        <!--First column-->
        <div class="col-md-12">

          <div class="mb-2">

            <!--Nav tabs-->
            <ul class="nav md-pills pills-primary d-flex justify-content-center" role="tablist">

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel31" role="tab">
                  <i class="far fa-id-card fa-3x my-2 red-text"></i>
                  <h5 class="text-dark"><strong>Recognition</strong></h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel32" role="tab">
                  <i class="fas fa-question fa-3x my-2 blue-text"></i>
                  <h5 class="text-dark"><strong>Knowledge</strong></h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel33" role="tab">
                  <i class="fas fa-book-open fa-3x my-2 green-text"></i>
                  <h5 class="text-dark"><strong>Publication</strong></h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel34" role="tab">
                  <i class="fas fa-trophy fa-3x my-2 pink-text"></i>
                  <h5 class="text-dark"><strong>Awards</strong></h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel33" role="tab">
                  <i class="fas fa-users fa-3x my-2 indigo-text"></i>
                  <h5 class="text-dark"><strong>Network</strong></h5>
                </a>
              </li>
            </ul>

          </div>

        </div>
      
      </div>

    </section>

  </div>

  <div class="streak streak-photo streak-md" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg');">
      <div class="flex-center mask rgba-orange-strong">
        <div class="text-center white-text">
          <h2 class="h2-responsive mb-3">
            <i class="fas fa-quote-left" aria-hidden="true"></i> Creativity requires the courage to let go of
            certainties
            <i class="fas fa-quote-right" aria-hidden="true"></i>
          </h2>
          <h5 class="text-center font-italic " data-wow-delay="0.2s">~ Erich Fromm</h5>
        </div>
      </div>
  </div>

  <div class="container-fluid background-r">

    <div class="container py-3">

      <!--Section: Blog v.2-->
      <section class="extra-margins text-center">

        <h2 class="text-center h2 mt-5 mb-0 pt-4">Follow Our Events </h2>

        <hr>
        <!--Grid row-->
        <div class="row my-5 pb-3 justify-content-center">

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 wow fadeIn" data-wow-delay="0.4s">
            <a href="assets/uploads/Neural Networks Report.pdf" target="_blank" >

              <!--Card Light-->
              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img src="assets/uploads/neturalnet.jpeg" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-orange-slight"></div>
                  </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="card-title darkgrey-text">
                    <strong class="orange-text">Creating Neural Network Applications
                      in Deep Learning</strong>
                  </h5>

                  <div class="row justify-content-center text-center">
                    <div class="col-12 col-lg-12 col-md-12 ">
                      <p class="grey-text mb-0 mb-md-2">
                        <i class="far fa-clock-o"></i> October 19, 2020</p>
                    </div>
                  </div>
                  
                  <!--Text-->
                  
                  <a class="black-text d-flex flex-row-reverse">
                    <p class="waves-effect px-2 mt-0 font-small blue-text mb-0">Read more
                      <i class="fas fa-long-arrow-alt-right ml-2" aria-hidden="true"></i>
                    </p>
                  </a>
                </div>
                <!--/.Card content-->
              </div>
              <!--/.Card Light-->
            </a>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 wow fadeIn" data-wow-delay="0.4s">
            <a href="assets/uploads/Event Report.pdf" target="_blank" >

              <!--Card Light-->
              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img src="assets/uploads/face.jpeg" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-orange-slight"></div>
                  </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="card-title darkgrey-text">
                    <strong class="orange-text">Face Detection & Recognition</strong>
                  </h5>
                  
                  <div class="row justify-content-center text-center">
                    <div class="col-12 col-lg-12 col-md-12 ">
                      <p class="grey-text mb-0 mb-md-3">
                        <i class="far fa-clock-o"></i> October 9, 2020</p>
                    </div>
                  </div>
                  
                  <a class="black-text d-flex flex-row-reverse">
                    <p class="waves-effect p-2 font-small blue-text mb-0">Read more
                      <i class="fas fa-long-arrow-alt-right ml-2" aria-hidden="true"></i>
                    </p>
                  </a>
                </div>
                <!--/.Card content-->
              </div>
              <!--/.Card Light-->
            </a>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 wow fadeIn" data-wow-delay="0.4s">
            <a href="assets/uploads/Quizathon Report.pdf" target="_blank">

              <!--Card Light-->
              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img src="assets/uploads/Quizathon.jpeg" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-orange-slight"></div>
                  </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h5 class="card-title darkgrey-text">
                    <strong class="orange-text">Quizathon</strong>
                  </h5>

                  <div class="row justify-content-center text-center">
                    <div class="col-12 col-lg-12 col-md-12 ">
                      <p class="grey-text mb-0 mb-md-3">
                        <i class="far fa-clock-o"></i> August 19, 2020</p>
                    </div>
                  </div>
                  
                  <a class="black-text d-flex flex-row-reverse">
                    <p class="waves-effect p-2 font-small blue-text mb-0">Read more
                      <i class="fas fa-long-arrow-alt-right ml-2" aria-hidden="true"></i>
                    </p>
                  </a>
                </div>
                <!--/.Card content-->
              </div>
              <!--/.Card Light-->
            </a>
          </div>
          <!--Grid column-->

         
        </div>
        <!--First row-->

      </section>
      <!--Section: Blog v.2-->

    </div>
  </div>

</main>